.signupform {
  padding-top: 100px;
  width: 40%;
  position: relative;
  left: 30%;
  padding-bottom: 70px;
}

.modal-content {
    background-color: #19342b;
}

.checkbox label {
  color: white;
}

#portfolio-container {
	background-color: #326755;
	font-size: 14px;
}
.table-header {
	padding-bottom:20px;
	font-size:17px;
}


.button-style {
  border-radius: 0px!important;
  background-color:gray;
}

.information-header {
  font-style:italic;
  font-size:14px;
}