.signupform {
  padding-top: 100px;
  width: 40%;
  position: relative;
  left: 30%;
  padding-bottom: 70px;
}

.modal-content {
    background-color: #19342b;
}

.checkbox label {
  color: white;
}

#portfolio-container {
	background-color: #326755;
	font-size: 15px;
}
.table-header {
	padding-bottom:20px;
	font-size:18px;
}
