body,
html {
    background-color: #19342b;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

main {
  padding-top: 50px;
}

.ui-view {
    align-content: center;
}

/* Set color of the navbar */
.topnav {
    background: #262626;
}

.topnav img {
  height: inherit;
  margin-top: -16.5px;
}

/* Links in the navbar, set text color using color tag */
.navbar-default .navbar-nav > li > a {
    color: white;
}

/* Title in the navbar, set text color using color tag */
.navbar-default .navbar-brand {
    color: white;
}

.navbar-custom .navbar-nav > .active > a {
    border-radius: 2px;
    border-color: white;
}

.navbar-custom .navbar-nav > .active > a {
    color: #fff;
}

.navbar-default {
    border-color: inherit;
}

.jumbotron {
    padding-top: 50px;
    background: inherit;
}

header {
    height: 100vh;
}

body.container {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

body h1 {
    text-align: center;
}

.aboutus {
    padding-top: 5%;
    padding-bottom: 2%;
}

.description {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 3%;
    font-size: 14pt;
}

.features {
    background: inherit;
    background: -webkit-linear-gradient(#19342b, #53ac8e);
    background: -o-linear-gradient(#19342b, #53ac8e);
    background: -moz-linear-gradient(#19342b, #53ac8e);
    background: linear-gradient(#19342b, #53ac8e);
}

.banner {
    background-color: #53ac8e;
}

.buysell {
  padding-top: 0px;
  padding-bottom: 100px;
}

.buysell img {
  padding-bottom: 50px;
}

.alert-danger {
    color: #BA2828;
    background-color: black;
    border-color: white;
}

.footer img {
  height: 140px;
}

footer {
    padding: 0;
    background-color: #19342b;
}

body.footer {
    vertical-align: bottom;
}

#portfolio-container {
    background-color: #326755;
    font-size: 14px;
}
.table-header {
    padding-bottom:20px;
    font-size:17px;
    border-bottom-width: 3px;
}


.button-style {
  border-radius: 0px!important;
  background-color:gray;
}

.information-header {
  font-style:italic;
  font-size:14px;
}

.portfolio-row {
    border-bottom-width: 1px!important;
    border-color: white!important;
}

.stockModal .modal-dialog {
  width: 90%;
  height: 90%;
}

.stockModal .modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
  /* TODO: Change background color for the stock modal here */
  background-color: #193434;
}

.stockAssetRow a {
  color: white;
}
