.ourTeam {
  padding-top: 15px;
}

.teamMember {
  padding-top: 20px;
}

.teamMember h2 {
  margin-bottom: 0px;
}

.role {
  font-size: large;
  text-align: center;
  color: black;
}

.home-footer {
  background-color: #6d9285;
}
