.modalBuySellButtons {
  margin-top: 30px;
  margin-bottom: 20px;
  padding-left: 10%;
  padding-right: 10%;
}

.modalBuySellButtons button {
  width: inherit;
}

.modalBuySellButtons input[type=range] {
  -webkit-appearance: none;
  background-color: inherit;
  margin: 10px 0;
  width: 100%;
}

.modalBuySellButtons input[type=range]:focus {
  outline: none;
}

.modalBuySellButtons input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #C4C1C0;
  border-radius: 50px;
  border: 1px solid #000000;
}

.modalBuySellButtons input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 2px solid #000000;
  height: 27px;
  width: 13px;
  border-radius: 27px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -12px;
}

.modalBuySellButtons input[type=range]:focus::-webkit-slider-runnable-track {
  background: #C4C1C0;
}

.modalBuySellButtons input[type=range]::-moz-range-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #C4C1C0;
  border-radius: 50px;
  border: 1px solid #000000;
}

.modalBuySellButtons input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 2px solid #000000;
  height: 27px;
  width: 13px;
  border-radius: 27px;
  background: #FFFFFF;
  cursor: pointer;
}

.modalBuySellButtons input[type=range]::-ms-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.modalBuySellButtons input[type=range]::-ms-fill-lower {
  background: #C4C1C0;
  border: 1px solid #000000;
  border-radius: 100px;
  box-shadow: 0px 0px 0px #000000;
}

.modalBuySellButtons input[type=range]::-ms-fill-upper {
  background: #C4C1C0;
  border: 1px solid #000000;
  border-radius: 100px;
  box-shadow: 0px 0px 0px #000000;
}

.modalBuySellButtons input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 2px solid #000000;
  height: 27px;
  width: 13px;
  border-radius: 27px;
  background: #FFFFFF;
  cursor: pointer;
}

.modalBuySellButtons input[type=range]:focus::-ms-fill-lower {
  background: #C4C1C0;
}

.modalBuySellButtons input[type=range]:focus::-ms-fill-upper {
  background: #C4C1C0;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.accountSettings {
  text-align: center;
  background: inherit;
  background: -webkit-linear-gradient(#9bad9b, #6d9285);
  background: -o-linear-gradient(#9bad9b, #6d9285);
  background: -moz-linear-gradient(#9bad9b, #6d9285);
  background: linear-gradient(#9bad9b, #6d9285);
}

.account-footer {
  background-color: #6d9285;
  padding-top: 30px;
}

.accountSettings .sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
    background: #9bad9b;
}

.accountSettings .sidebar ul li {
    border-bottom: 1px solid #262626;
}

.accountSettings .sidebar ul li a.active {
    background-color: #6ace9c;
}

.accountSettings .sidebar ul li a:target {
    background-color: #6ace9c;
}


.accountSettings .sidebar ul li a:hover {
  background-color: #6ace9c;
}

.accountSettings .sidebar .arrow {
    float: right;
}

.accountSettings .sidebar .nav-second-level li,
.accountSettings .sidebar .nav-third-level li {
    border-bottom: 0!important;
}

.accountSettings .sidebar .nav-second-level li a {
    padding-left: 37px;
}

.accountSettings .sidebar .nav-third-level li a {
    padding-left: 52px;
}

@media(min-width:768px) {
    .accountSettings .sidebar {
        z-index: 1;
        position: absolute;
        width: 250px;
    }

    .accountSettings .navbar-top-links .dropdown-messages,
    .accountSettings .navbar-top-links .dropdown-tasks,
    .accountSettings .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

.account-wrapper {
    padding: 0 15px;
    min-height: 568px;
}

@media(min-width:768px) {
    .account-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 0 30px 30px;
        border-left: 1px solid #262626;
        border-bottom: 1px solid #262626;
    }
}
