body,
html {
    background-color: #19342b;
}

/* Set color of the navbar */
.topnav {
  background: black;
}
/* Links in the navbar, set text color using color tag */
.navbar-default .navbar-nav>li>a{
  color: white;
}

/* Title in the navbar, set text color using color tag */
.navbar-default .navbar-brand {
  color: white;
}

.navbar-default {
  border-color: inherit;
}

.jumbotron {
  padding-top: 50px;
  background: inherit;
}

body.container {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

body h1 {
  text-align: center;
}
