<!-- This is the template for an asset in portfolio -->
<!-- Angular loops through all of the assets and renders the template for each -->
<div class="row table-row">
	<div class="stockAssetRow">

		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
			<strong><a href="">{{ info.ticker }}</a></strong>
		</div>

		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			<strong><a href="">{{ info.name }}</a></strong>
		</div>

		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
			${{ info.currentPricePerShare | number : 2 }}
		</div>

		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
			{{ info.quantity | number : 0 }}
		</div>

		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" ng-if="info.todayChangePercent != 0">
			${{ info.todayChangeNet | number : 2 }} ({{ info.todayChangePercent | number : 2 }}%)
		</div>

		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" ng-if="info.todayChangePercent == 0">
			${{ 0.00 | number : 2 }} ({{ 0.00 | number : 2 }}%)
		</div>

		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
			${{ info.totalNetProfit / info.quantity | number : 2 }} ({{ info.totalPercentProfit | number : 2 }}%)
		</div>

		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
			${{ info.totalNetProfit }}
		</div>
	</div>
</div>
