<div class="container buysell">

  <div class="portfolio-header">
    <h1>{{ main.user.firstName }}'s Stock Portfolio</h1>
    <h2 ng-if="stocks.portfolio.percentProfit >= 0" style="color: #1a521b">
      Portfolio Value: ${{ stocks.portfolio.portfolioValue | number : 2 }} | {{ stocks.portfolio.percentProfit | number : 2 }}%
      <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
    </h2>
    <h2 ng-if="stocks.portfolio.percentProfit < 0" style="color: #80312f">
      Portfolio Value: ${{ stocks.portfolio.portfolioValue | number : 2 }} | {{ stocks.portfolio.percentProfit | number : 2 }}%
      <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
    </h2>
  </div>

  <div class="search search-companies">
    <label>Search Companies: </label>
    <input name="company" type="form-control" style="color:black" ng-model="search.value" autocomplete="off"
    uib-typeahead="term for term in search.searchTerms | filter:$viewValue:startsWith | limitTo:8" typeahead-editable="false" typeahead-on-select="search.goToStock()"/>
  </div>

  <div class="row buysellButtons">
    <div class="col-lg-1 col-md-1 col-sm-1"></div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <button class="btn btn-block button-style1" data-toggle="modal" data-target="#buyModal">
        <span>Buy a Stock</span>
      </button>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-2"></div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <button class="btn btn-block button-style1" data-toggle="modal" data-target="#sellModal">
        <span>Sell a Stock</span>
      </button>
    </div>
  </div>

  <div class="container-fluid asset-list" id="portfolio-container">
    <div class="row information-header">
      <div class="col-xs-4">
        Account Value: ${{ stocks.portfolio.portfolioValue | number : 2 }}
      </div>

      <div class="col-xs-4">
        Cash Remaining: ${{ stocks.portfolio.cash | number : 2 }}
      </div>

      <div class="col-xs-4">
        Your Profit: ${{ stocks.portfolio.grossProfit | number : 2 }} ({{ stocks.portfolio.percentProfit | number : 2 }}%)
      </div>
    </div>

    <div class="row table-header">

      <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 hidden-sm-down portfolio-table-header" ng-click="stocks.sortByField('ticker')">
        <a href="">Ticker</a><img ng-if="!stocks.upSorted('ticker') && !stocks.downSorted('ticker')" class="double-caret-symbol" src="assets/img/double-caret.svg">
        <i ng-if="stocks.downSorted('ticker')" class="fa fa-caret-down" aria-hidden="true"></i>
        <i ng-if="stocks.upSorted('ticker')" class="fa fa-caret-up" aria-hidden="true"></i>
      </div>

      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 portfolio-table-header" ng-click="stocks.sortByField('name')">
        <a href="">Equity Name</a><img ng-if="!stocks.upSorted('name') && !stocks.downSorted('name')" class="double-caret-symbol" src="assets/img/double-caret.svg">
        <i ng-if="stocks.downSorted('name')" class="fa fa-caret-down" aria-hidden="true"></i>
        <i ng-if="stocks.upSorted('name')" class="fa fa-caret-up" aria-hidden="true"></i>
      </div>

      <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 hidden-sm-down portfolio-table-header" ng-click="stocks.sortByField('currentPricePerShare')">
        <a href="">Price</a><img ng-if="!stocks.upSorted('currentPricePerShare') && !stocks.downSorted('currentPricePerShare')" class="double-caret-symbol" src="assets/img/double-caret.svg">
        <i ng-if="stocks.downSorted('currentPricePerShare')" class="fa fa-caret-up" aria-hidden="true"></i>
        <i ng-if="stocks.upSorted('currentPricePerShare')" class="fa fa-caret-down" aria-hidden="true"></i>
      </div>

      <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 hidden-xs-down portfolio-table-header" ng-click="stocks.sortByField('quantity')">
        <a href="">Quantity</a><img ng-if="!stocks.upSorted('quantity') && !stocks.downSorted('quantity')" class="double-caret-symbol" src="assets/img/double-caret.svg">
        <i ng-if="stocks.downSorted('quantity')" class="fa fa-caret-up" aria-hidden="true"></i>
        <i ng-if="stocks.upSorted('quantity')" class="fa fa-caret-down" aria-hidden="true"></i>
      </div>

      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 portfolio-table-header" ng-click="stocks.sortByField('todayChangePercent')">
        <a href="">Change Today</a><img ng-if="!stocks.upSorted('todayChangePercent') && !stocks.downSorted('todayChangePercent')" class="double-caret-symbol" src="assets/img/double-caret.svg">
        <i ng-if="stocks.downSorted('todayChangePercent')" class="fa fa-caret-up" aria-hidden="true"></i>
        <i ng-if="stocks.upSorted('todayChangePercent')" class="fa fa-caret-down" aria-hidden="true"></i>
      </div>

      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 portfolio-table-header" ng-click="stocks.sortByField('totalPercentProfit')">
        <a href="">Profit Per Stock</a><img ng-if="!stocks.upSorted('totalPercentProfit') && !stocks.downSorted('totalPercentProfit')" class="double-caret-symbol" src="assets/img/double-caret.svg">
        <i ng-if="stocks.downSorted('totalPercentProfit')" class="fa fa-caret-up" aria-hidden="true"></i>
        <i ng-if="stocks.upSorted('totalPercentProfit')" class="fa fa-caret-down" aria-hidden="true"></i>
      </div>

      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 hidden-sm-down portfolio-table-header" ng-click="stocks.sortByField('totalNetProfit')">
        <a href="">Total Profit</a><img ng-if="!stocks.upSorted('totalNetProfit') && !stocks.downSorted('totalNetProfit')" class="double-caret-symbol" src="assets/img/double-caret.svg">
        <i ng-if="stocks.downSorted('totalNetProfit')" class="fa fa-caret-up" aria-hidden="true"></i>
        <i ng-if="stocks.upSorted('totalNetProfit')" class="fa fa-caret-down" aria-hidden="true"></i>
      </div>

    </div>

    <center>
      <h3 style="color: #737373" ng-if="stocks.loading">Loading Portfolio Data...</h3>
      <img style="opacity: 0.5" ng-if="stocks.loading" src="/assets/img/39.gif">
    </center>

    <div class="row stock {{stock.change}}" ng-repeat="stock in portfolioAssets">
      <stock-asset info="stock" ng-click="search.linkToStock(stock.ticker)"></stock-asset>
    </div>
  </div>
  <!-- Import Buy/Sell Modals -->
  <div ng-include src="'/app/views/pages/authenticated/buysell.html'"></div>

  <!-- Import Individual Stock Page Modal -->
  <div ng-include src="'/app/views/pages/authenticated/stockModal.html'"></div>

</div>
