<div class="container buysell">

  <center><img src="assets/img/vstock logo/vstock-white-transparent.png"></center>

  <div class="row">

    <div class="col-lg-1 col-md-1 col-sm-1"></div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <button class="btn btn-block btn-primary" data-toggle="modal" data-target="#buyModal">
        <span>Buy a Stock</span>
      </button>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-2"></div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <button class="btn btn-block btn-primary" data-toggle="modal" data-target="#sellModal">
        <span>Sell a Stock</span>
      </button>
    </div>

  </div>
  <br><br>

  <div class="container-fluid" id="portfolio-container">
    <div class="row">
      <div class="col-sm-12">
        <h3>Stock Portfolio</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        Account Value: ${{ stocks.portfolio.portfolioValue }}
      </div>

      <div class="col-xs-4">
        Cash Remaining: ${{ stocks.portfolio.cash }}
      </div>

      <div class="col-xs-4">
        Your Profit: ${{ stocks.portfolio.grossProfit }}
      </div>
    </div>

  <br><br>

    <div class="row table-header">

      <div class="col-sm-1">
        Symbol
      </div>

      <div class="col-sm-2">
        Company Name
      </div>

      <div class="col-sm-1">
        Price
      </div>

      <div class="col-sm-1">
        QTY
      </div>

      <div class="col-sm-1">
        Profit
      </div>

      <div class="col-sm-2">
        Purchase Price
      </div>

      <div class="col-sm-2">
        Value
      </div>

      <div class="col-sm-1">
        Exchange
      </div>

      <div class="col-sm-1">
        Margin
      </div>


    </div>
      <div class="stock" ng-repeat="stock in portfolioAssets">
        <stock-asset info="stock">
      </div>
  </div>
  <!-- Import Buy/Sell Modals -->
  <div ng-include src="'/app/views/pages/authenticated/buysell.html'"></div>
</div>
