<div class="container buysell">

  <center><img src="assets/img/vstock logo/vstock-white-transparent.png"></center>

  <div class="row">

    <div class="col-lg-1 col-md-1 col-sm-1"></div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <button class="btn btn-block btn-primary" data-toggle="modal" data-target="#buyModal">
        <span>Buy a Stock</span>
      </button>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-2"></div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <button class="btn btn-block btn-primary" data-toggle="modal" data-target="#sellModal">
        <span>Sell a Stock</span>
      </button>
    </div>

  </div>

  Cash Remaining: {{ stocks.portfolio.cash }}
  Portfolio Value: {{ stocks.portfolio.portfolioValue }}
  Your Profit: {{ stocks.portfolio.grossProfit }}
  <br><br>

  <!-- Iterate through all assets in the portfolio and render template for each -->
  <div class="stock" ng-repeat="stock in portfolioAssets">
    <stock-asset info="stock">
  </div>

  <!-- Import Buy/Sell Modals -->
  <div ng-include src="'/app/views/pages/authenticated/buysell.html'"></div>

</div>
