<div class="accountSettings">
  <div class="navbar-default sidebar" role="navigation">
      <div class="sidebar-nav navbar-collapse">
          <ul class="nav" id="side-menu">
              <li>
                  <a href="/account">Account Info</a>
              </li>
              <li>
                  <a href="/transactions">Tranasactions History</a>
              </li>
              <li>
                  <a href="/update">Update Account</a>
              </li>
            </ul>
        </div>
  </div>
  <div class = "account-wrapper" style="min-height: 1048 px;">
    <img src="assets/img/vstock logo/vstock-black.png">
    <h2 style="color:black;"> Still being made~</h2>
    <br><br><br><br><br>
    <h1> _____'s Transactions </h1>
  </div>
</div>
