<div class="accountSettings">
  <div class="navbar-default sidebar" role="navigation">
      <div class="sidebar-nav navbar-collapse">
          <ul class="nav" id="side-menu">
              <li>
                  <a href="/account">Account Info</a>
              </li>
              <li>
                  <a href="/transactions">Transactions History</a>
              </li>
              <li>
                  <a href="/update">Update Account</a>
              </li>
            </ul>
        </div>
  </div>
  <div class = "account-wrapper update" style="min-height: 1048 px;">
    <img src="assets/img/vstock logo/vstock-black.png">
    <h2 style="color:black;"> Still being made~</h2>
    <br><br><h2>Update Your Information</h2>
    <hr style= "border-color: black;">
    <form ng-submit="account.updateInfo()">
      <div class = "row" style = "margin-right: 0px; margin-left: 0px;">
        <div class = "col-sm-6">
          <h3>Current Password:</h3>
        </div>
        <div class = "col-sm-6">
          <div class="form-group">
            <input class="form-control" type="password" ng-model="account.updateData.password">
          </div>
        </div>
      </div>
      <div class = "row" style = "margin-right: 0px; margin-left: 0px;">
        <div class = "col-sm-6">
          <h3>First Name:</h3>
        </div>
        <div class = "col-sm-6">
          <div class="form-group">
            <input type="text" class="form-control" ng-model="account.updateData.firstName">
          </div>
        </div>
      </div>
      <div class = "row" style = "margin-right: 0px; margin-left: 0px;">
        <div class = "col-sm-6">
          <h3>Last Name:</h3>
        </div>
        <div class = "col-sm-6">
          <div class="form-group">
            <input type="text" class="form-control" ng-model="account.updateData.lastName">
          </div>
        </div>
      </div>
      <div class = "row" style = "margin-right: 0px; margin-left: 0px;">
        <div class = "col-sm-6">
          <h3>Bot Account</h3>
        </div>
        <div class = "col-sm-6">
          <input type="checkbox" class = "botAccount" ng-model="account.updateData.botAccount">
        </div>
      </div>
      <div class = "row" style = "margin-right: 0px; margin-left: 0px;">
        <div class = "col-sm-6">
          <h3>New Password:</h3>
        </div>
        <div class = "col-sm-6">
          <div class="form-group">
            <input class="form-control" type="password" ng-model="account.updateData.newPassword">
          </div>
        </div>
      </div>
      <div class = "row" style = "margin-right: 0px; margin-left: 0px;">
        <div class = "col-sm-6">
          <h3>Confirm Password:</h3>
        </div>
        <div class = "col-sm-6">
          <div class="form-group">
            <input class="form-control" type="password" ng-model="account.updateData.confirmPassword">
          </div>
        </div>
      </div>
      <br><br>
      <div class="alert alert-danger" ng-if="account.error">
        {{ account.error }}
      </div>
      <button type="submit" class="btn btn-block btn-primary">
        <span ng-if="!account.loading">Update Info</span>
        <span ng-if="account.loading" class="spinner"><span class="glyphicon glyphicon-repeat"></span></span>
      </button>
    </form>
  </div>
</div>
