<div class="aboutPage">
  <header class="about-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="tagline">About vStock</h1>
          <center>
            <img src="/assets/img/vstock logo/vstock-black.png">
            <h1>Page is Under Construction...</h1>
          </center>
        </div>
      </div>
    </div>
  </header>

  <!-- Page Content -->
  <div class="container">

    <hr>
    <div class="row">
      <div class="col-sm-12">
        <h2>What We Do</h2><br></br>
        <p class="aboutPageText whatWeDoText">vStock is a real-time virtual stock trading platform where users can trade stocks and watch them grow. Each user starts with $100,000 in virtual cash and can spend it on any US equities traded on the BATS stock exchange. Users can also create "bot accounts," writing scripts to access our RESTful API to track the prices of stocks and make transactions.</p>
        <p class="aboutPageText whatWeDoText">Launched in August 2016, vStock is built on the MEAN stack, a fast and scalable web platform. vStock aims not only to be a site where users can challenge both their friends and themselves to a game of luck and wit, but also to be a tool to analyze the financial market itself. Once fully implemented, our machine learning engine will identify predictive factors for a stock's rise or fall and share its predictions with our traders. We hope to give our users a platform for both fun and future success.</p>
      </div>
    </div>
    <!-- /.row -->

    <div class="ourTeam">
      <h2>Our Team</h2>

      <div class="row">
        <div class="col-sm-6 teamMember">
          <img class="img-circle img-responsive img-center" src="http://placehold.it/300x300" alt="">
          <h2>Arda Sahiner</h2>
          <div class = "role">Co-founder</div>
          <p class="aboutPageText">A sophomore Electrical Engineering and Computer Science major at the University of California, Berkeley, Arda has had an interest in stock trading since a virtual trading activity in his 6th grade math class. At vStock, Arda has participated in the full stack, but mainly focuses on the backend API. His current interests include signal processing and machine learning.</p>
        </div>
        <div class="col-sm-6 teamMember">
          <img class="img-circle img-responsive img-center" src="http://placehold.it/300x300" alt="">
          <h2>Kunal Gosar</h2>
          <div class = "role">Co-founder</div>
          <p class="aboutPageText"></p>
        </div>
        <br>
        <br>
        <br>
        <div class="col-sm-4 teamMember">
          <img class="img-circle img-responsive img-center" src="http://placehold.it/150x150" alt="">
          <h2>Jaemin Kim</h2>
          <div class = "role">Web Designer</div>
          <p class="aboutPageText"></p>
        </div>
        <div class="col-sm-4 teamMember">
          <img class="img-circle img-responsive img-center" src="http://placehold.it/150x150" alt="">
          <h2>Julie Wong</h2>
          <div class = "role">Graphic Designer</div>
          <p class="aboutPageText"></p>
        </div>
        <div class="col-sm-4 teamMember">
          <img class="img-circle img-responsive img-center" src="http://placehold.it/150x150" alt="">
          <h2>Simon Deng</h2>
          <div class = "role">Web Designer</div>
          <p class="aboutPageText"></p>
        </div>
      </div>
      <!-- /.row -->
