<div class="aboutPage">
  <header class="about-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <center>
            <!-- <img src="/assets/img/vstock logo/vstock-black.png"> -->
          </center>
        </div>
      </div>
    </div>
  </header>

  <!-- Page Content -->
  <div class="container">
  <h1 style="font-size: 42px;">About vStock</h1>

    <div class="whatWeDo">
      <div class="row">
        <div class="col-sm-12">
          <h2>What We Do</h2>
        </div>
      </div>
      <div class = "row">
        <div class = "col-sm-6">
          <h3>Our Product</h3>
          <p class="aboutPageText whatWeDoText">vStock is a real-time virtual stock trading platform where users can trade stocks and watch them grow. Each user starts with $100,000 in virtual cash and can spend it on any US equities traded on the BATS stock exchange. Users can also create "bot accounts," writing scripts to access our RESTful API to track the prices of stocks and make transactions. Traders have the opportunity gain experience and develop strategies before heading out into the real market. </p>
        </div>
        <div class = "col-sm-6">
          <h3>Our Tech</h3>
          <p class="aboutPageText whatWeDoText">Launched in August 2016, vStock is built on the MEAN stack, a fast and scalable web platform. vStock aims not only to be a site where users can challenge both their friends and themselves to a game of luck and wit, but also to be a tool to analyze the financial market itself. Once fully implemented, our machine learning engine will identify predictive factors for a stock's rise or fall and share its predictions with our traders. We hope to give our users a platform for both fun and future success.</p>
        </div>
      </div>
    </div>
    <!-- /.row -->

    <div class="ourTeam">
      <h2>Our Team</h2>

      <div class="row founder">
        <div class="col-sm-6 teamMember">
          <img class="img-circle img-responsive img-center" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAR4AAAAJDY0NWZjMDdiLTMzZGEtNGY1Yi1iYzQzLTVmNzFjMjIwZDU2Yw.jpg" alt="">
          <h3>Arda Sahiner <a href="https://www.linkedin.com/in/ardasahiner"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></h3>
          <div class="role">Co-founder</div>
          <p class="aboutPageText">A sophomore Electrical Engineering and Computer Science major at the University of California, Berkeley, Arda has had an interest in stock trading since a virtual trading activity in his 6th grade math class. At vStock, Arda has participated in the full stack, but mainly focuses on the backend API. His current interests include signal processing and machine learning.</p>
        </div>
        <div class="col-sm-6 teamMember">
          <img class="img-circle img-responsive img-center" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/7/005/077/344/1e3aca2.jpg" alt="">
          <h3>Kunal Gosar <a href="https://www.linkedin.com/in/kunalgosar"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></h3>
          <div class = "role">Co-founder</div>
          <p class="aboutPageText">Kunal is a sophomore at UC Berkeley majoring in Electrical Engineering and Computer Science; he is very interested in finance, machine learning and application development. At vStock he has been a full-stack developer, working on both the frontend application and the backend API.</p>
        </div>
      </div>
      <div class="row rest">
        <div class="col-sm-4 teamMember">
          <img class="img-circle img-responsive img-center" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAASzAAAAJDQ0MzFhZGI0LWVjOWEtNDZmMC1hZmE0LTI3NjI1ZjIyNWU3MA.jpg" alt="">
          <h3>Jae Min Kim <a href="https://www.linkedin.com/in/jaemin-kim-255785104"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></h3>
          <div class = "role">Web Designer</div>
          <p class="aboutPageText">Jae Min Kim is currently enrolled at UC Berkeley as a sophomore majoring in Electrical Engineering and Computer Science. He realizes the importance of being financially savvy, and hopes that vStock will help people apply their growing knowledge of the stock market. As a web designer at vStock, Jae Min contributed to the front-end of the website. He is interested in deepening his knowledge of computer and software security.</p>
        </div>
        <div class="col-sm-4 teamMember">
          <img class="img-circle img-responsive img-center" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAlvAAAAJGQxZTUwODEzLTMyMjItNDJmNS1iZTRhLWI0ZjU1NmExODcwMg.jpg" alt="">
          <h3>Julie Wong <a href="https://www.linkedin.com/in/julie-wong-49419a10a"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></h3>
          <div class = "role">Graphic Designer</div>
          <p class="aboutPageText">Julie, an intended Computer Science major in her second year at UC Berkeley, prototyped vStock's user experience and directed design desisions as a design consultant. In addition to creating vStock's logo, Julie enjoys working as a freelance graphic designer, following the latest product design trends, and drinking a cup of tea. Check out some of her other design work <a href= "https://www.behance.net/julielwong">here</a>!</p>
        </div>
        <div class="col-sm-4 teamMember">
          <img class="img-circle img-responsive img-center" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAARIAAAAJDUwNGMzNjI3LWEzZTctNDJlZS04MmU0LTFmNDIzN2I5OGQ4Yw.jpg" alt="">
          <h3>Simon Deng <a href="https://www.linkedin.com/in/simonsdeng"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></h3>
          <div class = "role">Web Designer</div>
          <p class="aboutPageText">A sophomore Electrical Engineering and Computer Science major at the University of California, Berkeley, Simon has a wide range of expertise in full stack web technologies. He first became involved in vStock as a technical advisor, but has since brought changes to various aspects of the front-end design. His current interests include machine learning and data science.</p>
        </div>
      </div>
      <!-- /.row -->
    </div>
  </div>
