<div class="container">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1 text-center">
      <h4>vStock Analytics</h4>
    </ul>
    <h5>Visit us at Github:</h5>
    <ul class="list-inline">
      <li>
        <a href="https://github.com/kunalgosar/StockTrade"><i class="fa fa-github fa-fw fa-3x"></i></a>
      </li>
      <li>
        <a href="https://github.com/ardasahiner/StockTrade"><i class="fa fa-github fa-fw fa-3x"></i></a>
      </li>
    </ul>
    <hr class="small">
    <p class="text-muted">Copyright &copy; vStock Analytics 2016</p>
  </div>
</div>
</div>
