<header>
  <div class="intro-header">
    <div class="container">

      <div class="row">
        <div class="col-lg-12">
          <div class="intro-message">
            <h1>vStock</h1>
            <h3>A real-time virtual market universe exclusive to financial geeks, both amateur and experienced stock traders, and all those who possess a passion for investment. Learn, trade, and rise to the challenge.</h3>
            <hr class="intro-divider">
          </div>
        </div>
      </div>

    </div>
  </div>
</header>

<div class="aboutus">
  <div class="title">
    <h1>What We Do</h1>
  </div>
  <p class="description">
    We Built this Stock Trading Application so that everyone can play with stocks, while learning to trade in a fun, competitive, risk-free environment. We analyze the trading using Machine Learning to learn about what makes a good stock trade; we hope to make autonomous stock trading bots using the data.
  </p>
<div>
<div class="features">
<div class="content-section-a">

  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Challenge Yourself. </h2>
        <p class="lead">It takes both brains and guts… Start with $1 million in virtual cash and test your investment skills in a high-stakes, real-time simulation of the global stock market. </p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <img class="img-responsive" src="assets/img/analytics.jpg" alt="">
      </div>
    </div>

  </div>

</div>

<div class="content-section-b">

  <div class="container">

    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Create. Code. Control.</h2>
        <p class="lead">Take your game to the next level with algorithmic trading. Build a legion of bots to trade stocks, execute your strategies based on observed market patterns, and dominate the financial marketplace.</p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <img class="img-responsive" src="assets/img/aco_bot.jpg" alt="">
      </div>
    </div>

  </div>

</div>

<div class="content-section-a">

  <div class="container">

    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Compete.</h2>
        <p class="lead">Make it a friendly competition. Join together with your friends to see who will become to best trader. Pit your investment strategies against thousands of other vStock traders and advance to the top of the leaderboards.</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <img class="img-responsive" src="assets/img/Competition21.jpg" alt="">
      </div>
    </div>

  </div>

</div>
</div>

<!-- <div class="banner">

  <div class="container">

    <div class="row">
      <div class="col-lg-6">
        <h2 class="section-heading">Find our Repo on Github:</h2>
      </div>
      <div class="col-lg-6">
        <ul class="list-inline banner-social-buttons">
          <li>
            <a href="https://github.com/kunalgosar/StockTrade" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
          </li>
          <li>
            <a href="https://github.com/ardasahiner/StockTrade" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
          </li>
        </ul>
      </div>
    </div>

  </div>

</div> -->
