<header>
  <div class="intro-header">
    <div class="container">

      <div class="row">
        <div class="col-lg-12">
          <div class="intro-message">
            <!-- TODO: Make background more transparent/opaque so that logo is clearer -->
            <img class="home-title-logo" src="assets/img/vstock logo/vstock white transparent.svg">
            <!-- <img class="home-title-logo hidden-xs" width="400px" src="assets/img/vstock logo/vstock white transparent.svg"> -->
            <p class="headings titledescription">
              A real-time virtual market universe exclusive to financial geeks, both amateur and experienced stock traders, and all those who possess a passion for investment. Learn, trade, and rise to the challenge.
            </p>
            <button class="btn signup-button" href="" data-toggle="modal" data-target="#signupModal" ng-if="!main.loggedIn"><a style="color:black;" href="" data-toggle="modal" data-target="#signupModal">Sign Up</a></button>
            <hr class="intro-divider">
          </div>
        </div>
      </div>

    </div>
  </div>
</header>

<div class="aboutus">
  <!-- <div class="title">
    <h1 style="color: white;">What We Do</h1>
  </div>
  <p class="headings description">
    We built this stock trading application so that everyone can play with stocks while learning to trade in a fun, competitive, and risk-free environment. We hope to analyze your trading using machine learning principles to learn about what makes a good trading strategy and share this knowledge with you, recommending stocks to buy and sell. Furthermore, we hope to give you the power to make autonomous trading bots to buy and sell stocks according to any strategy.
  </p>
  <div> -->
    <div class="features">
      <div class="content-section-a">

        <div class="container">
          <div class="row">
            <div class="col-lg-5 col-sm-6">
              <hr class="section-heading-spacer">
              <div class="clearfix"></div>
              <h2 class="section-heading homePageTitle">Challenge Yourself. </h2>
              <p class="lead">It takes both brains and guts! Start with $100,000 in virtual cash and test your investment skills in a high-stakes, real-time simulation of the global stock market. </p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
              <img class="img-responsive home-icon" src="assets/img/icon_cash.png" alt="">
            </div>
          </div>

        </div>

      </div>

      <div class="content-section-b">

        <div class="container">

          <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
              <hr class="section-heading-spacer">
              <div class="clearfix"></div>
              <h2 class="section-heading homePageTitle">Create. Code. Control.</h2>
              <p class="lead">Take your game to the next level with algorithmic trading. Build a legion of bots to trade stocks, execute your strategies based on observed market patterns, and dominate the financial marketplace.</p>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
              <img class="img-responsive home-icon" src="assets/img/icon_robot.png" alt="">
            </div>
          </div>

        </div>

      </div>

      <div class="content-section-c">

        <div class="container">

          <div class="row">
            <div class="col-lg-5 col-sm-6">
              <hr class="section-heading-spacer">
              <div class="clearfix"></div>
              <h2 class="section-heading homePageTitle">Compete.</h2>
              <p class="lead">Make it a friendly competition. Join together with your friends to see who will become to best trader. Pit your investment strategies against thousands of other vStock traders and advance to the top of the leaderboards.</p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
              <img class="img-responsive home-icon" src="assets/img/icon_trophy.png" alt="">
            </div>
          </div>

        </div>

      </div>
    </div>
