<link rel="stylesheet" href="assets/css/forms.css">

<div class="signupform jumbotron">
  <h2>Log In</h2>
  <br>

  <form ng-submit="login.doLogin()">

    <div class="form-group">
      <input type="text" placeholder="Username" class="form-control" ng-model="login.loginData.username" required="required">
    </div>

    <div class="form-group">
      <input type="password" placeholder="Password" class="form-control" ng-model="login.loginData.password" required="required">
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="signup.signupData.bot"> Remember Me
      </label>
    </div>

    <div class="alert alert-danger" ng-if="login.error">
      {{ login.error }}
    </div>

    <button type="submit" class="btn btn-block btn-primary">
      <span ng-if="!login.processing">Login</span>
      <span ng-if="login.processing" class="spinner"><span class="glyphicon glyphicon-repeat"></span></span>
    </button>

  </form>
</div>
