<nav class="navbar navbar-default navbar-fixed-top topnav navbar-custom" role="navigation">

  <div class="container topnav">
    <div class="navbar-header">

      <!-- This will make a collapsible nav-bar for smaller displays -->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#vstock-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>


      <a class="navbar-brand topnav" ui-sref="home">
        <img src="assets/img/vstock logo/vstock white name transparent.svg">
      </a>
    </div>

    <div class="collapse navbar-collapse" id="vstock-navbar-collapse">

      <ul class="nav navbar-nav navbar-left visible-xs">
        <!-- Content links all go here -->
        <li><a ui-sref="about" data-toggle="collapse" data-target="#vstock-navbar-collapse">About Us</a></li>
        <li><a ui-sref="api" data-toggle="collapse" data-target="#vstock-navbar-collapse">API</a></li>

        <!-- <div class="search navbar-search">
          <label ng-if="state.current.name == 'portfolio'">Search Companies: </label>
          <input ng-if="state.current.name == 'portfolio'" name="company" type="form-control" style="color:black" ng-model="search.value" autocomplete="off"
          uib-typeahead="term for term in search.searchTerms | filter:$viewValue:startsWith | limitTo:8" typeahead-editable="false" typeahead-on-select="search.goToStock()"/>
        </div> -->
      </ul>

      <ul class="nav navbar-nav navbar-left hidden-xs">
        <!-- Content links all go here -->
        <li><a ui-sref="about">About Us</a></li>
        <li><a ui-sref="api">API</a></li>

        <!-- <div class="search navbar-search">
          <label ng-if="state.current.name == 'portfolio'">Search Companies: </label>
          <input ng-if="state.current.name == 'portfolio'" name="company" type="form-control" style="color:black" ng-model="search.value" autocomplete="off"
          uib-typeahead="term for term in search.searchTerms | filter:$viewValue:startsWith | limitTo:8" typeahead-editable="false" typeahead-on-select="search.goToStock()"/>
        </div> -->
      </ul>

      <ul class="nav navbar-nav navbar-right visible-xs">
        <!-- Content links all go here -->
        <li ng-if="main.loggedIn" data-toggle="collapse" data-target="#vstock-navbar-collapse"><a href="/portfolio">Portfolio</a></li>
        <li ng-if="main.loggedIn" data-toggle="collapse" data-target="#vstock-navbar-collapse"><a href="/" ng-click="main.doLogout()">Logout</a></li>
        <li ng-if="!main.loggedIn" data-toggle="collapse" data-target="#vstock-navbar-collapse"><a href="" data-toggle="modal" data-target="#loginModal">Login</a></li>
        <li ng-if="!main.loggedIn" data-toggle="collapse" data-target="#vstock-navbar-collapse"><a href="" data-toggle="modal" data-target="#signupModal">Sign Up</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right hidden-xs">
        <!-- Content links all go here -->
        <li ng-if="main.loggedIn" class="navbar-text hidden-xs">Hello {{ main.user.firstName }}!</li>
        <li ng-if="main.loggedIn"><a href="/portfolio">Portfolio</a></li>
        <li ng-if="main.loggedIn"><a href="/" ng-click="main.doLogout()">Logout</a></li>
        <li ng-if="!main.loggedIn"><a href="" data-toggle="modal" data-target="#loginModal">Log In</a></li>
        <li ng-if="!main.loggedIn"><a href="" data-toggle="modal" data-target="#signupModal">Sign Up</a></li>
      </ul>
    </div>
  </div>
</nav>
