<nav class="navbar navbar-default navbar-fixed-top topnav navbar-custom" role="navigation">

  <div class="container topnav">
    <div class="navbar-header">

      <!-- This will make a collapsible nav-bar for smaller displays -->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>


      <a class="navbar-brand topnav" ui-sref="home">
        <img src="assets/img/vstock logo/vstock-white-name-transparent.png">
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-left">
        <!-- Content links all go here -->
        <!-- <li><a ui-sref="about">About Us</a></li> -->

        <!-- <div class="search navbar-search">
          <label ng-if="state.current.name == 'portfolio'">Search Companies: </label>
          <input ng-if="state.current.name == 'portfolio'" name="company" type="form-control" style="color:black" ng-model="search.value" autocomplete="off"
          uib-typeahead="term for term in search.searchTerms | filter:$viewValue:startsWith | limitTo:8" typeahead-editable="false" typeahead-on-select="search.goToStock()"/>
        </div> -->
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <!-- Content links all go here -->
        <li ng-if="main.loggedIn" class="navbar-text">Hello {{ main.user.firstName }}!</li>
        <li ng-if="main.loggedIn"><a href="/portfolio">Portfolio</a></li>
        <li ng-if="main.loggedIn"><a href="/" ng-click="main.doLogout()">Logout</a></li>
        <li ng-if="!main.loggedIn"><a href="" data-toggle="modal" data-target="#loginModal">Login</a></li>
        <li ng-if="!main.loggedIn"><a href="" data-toggle="modal" data-target="#signupModal">Sign Up</a></li>
      </ul>
    </div>
  </div>
</nav>
