<!-- Sign Up Modal, linked to by the nav bar -->
<div class="modal fade" id="signupModal">
  <div class="modal-dialog">
    <div class="modal-content" style="border-radius:1px">
      <div class="modal-header">
        <h4  style="color:white;" class="modal-title" id="myModalLabel">Sign Up</h4>
      </div>
      <div class="modal-body" ng-controller="signupController as signup">
        <form ng-submit="signup.doSignUp()">

          <div class="form-group">
            <input type="text" placeholder="First Name" class="form-control" ng-model="signup.signupData.firstname" required="required">
          </div>

          <div class="form-group">
            <input type="text" placeholder="Last Name" class="form-control" ng-model="signup.signupData.lastname" required="required">
          </div>

          <div class="form-group">
            <input type="text" placeholder="Email" class="form-control" ng-model="signup.signupData.email" required="required">
          </div>

          <div class="form-group">
            <input type="text" placeholder="Username" class="form-control" ng-model="signup.signupData.username" required="required">
          </div>

          <div class="form-group">
            <input id="password" type="password" placeholder="Password" class="form-control" ng-model="signup.signupData.password" required="required">
          </div>

          <div class="form-group">
            <input id="confirm_password" type="password" placeholder="Confirm Password" class="form-control" ng-model="signup.signupData.confirmpassword" required="required">
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="signup.signupData.bot"> Are you a bot account?
            </label>
            <i class="fa fa-question-circle bot-account-help" aria-hidden="true">
                <p>Bot accounts are those which primarily use our <a href="/api" target = "_blank">API</a> rather than our web interface to access our application. We ask that you indicate this for our analytic purposes.</p>
            </i>
          </div>

          <div class="alert alert-danger" ng-if="signup.error">
            {{ signup.error }}
          </div>
          <center>
          <button type="submit" style="width:350px; height:43px"class="btn btn-block btn-primary signup-button">
            <span ng-if="!signup.processing">Sign Up</span>
            <span ng-if="signup.processing" class="spinner"><span class="glyphicon glyphicon-repeat"></span></span>
          </button>
          </center>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default signup-button" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
