<div class="jumbotron">
  <h1>Sign Up</h1>

  <form ng-submit="signup.doSignUp()">

    <div class="form-group">
      <label>First Name</label>
      <input type="text" class="form-control" ng-model="signup.signupData.firstname">
    </div>

    <div class="form-group">
      <label>Last Name</label>
      <input type="text" class="form-control" ng-model="signup.signupData.lastname">
    </div>

    <div class="form-group">
      <label>Email</label>
      <input type="text" class="form-control" ng-model="signup.signupData.email">
    </div>

    <div class="form-group">
      <label>Username</label>
      <input type="text" class="form-control" ng-model="signup.signupData.username">
    </div>

    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" ng-model="signup.signupData.password">
    </div>

    <div class="form-group">
      <label>Are you a bot account?</label>
      <input type="checkbox" class="form-control" ng-model="signup.signupData.password">
    </div>

    <div class="alert alert-danger" ng-if="signup.error">
      {{ signup.error }}
    </div>

    <button type="submit" class="btn btn-block btn-primary">
      <span ng-if="!signup.processing">Sign Up</span>
      <span ng-if="signup.processing" class="spinner"><span class="glyphicon glyphicon-repeat"></span></span>
    </button>

  </form>
</div>
